name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Format
        run: cd specmaker-core && uvx ruff format . --check --diff

      - name: Lint
        run: cd specmaker-core && uvx ruff check --output-format=github .

      - name: Type Check
        run: cd specmaker-core && uv run --frozen pyright
